DATABASE_URL="postgresql://postgres.rnhjvytkkvjnqxvbvmye:ReRchAHLqN2I9who@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
META_VERIFY_TOKEN="mySecret123"
META_PAGE_ACCESS_TOKEN="your_long_lived_page_access_token_here"
